* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #acadb9;
  --grey-100: #f5f5f6;
  --grey-200: #eaebed;
  --grey-300: #d5d6dc;
  --grey-500: #acadb9;
  --grey-600: #7b7c88;
  --black: #232134;
  --blue-600: #3b7cd3;
  --blue-500: #5e96fc;
  --blue-400: #92c1ff;
  --blue-300: #b7d6ff;
  --blue-200: #c9e0ff;
  --blue-100: #deecff;
}

header {
  width: 100%;
  height: 84px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header > h1 {
  width: 141px;
  height: 36px;
  display: flex;
  margin-left: 162px;
}

header > nav {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

header > nav > div {
  width: 275px;
  display: flex;
  justify-content: space-between;
}

header > nav > div > a {
  text-decoration: none;
  color: var(--black);
}

.active_route {
  color: var(--blue-500);
}
