@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Open+Sans:wght@600&family=Poppins:wght@600&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f8;
}

:root {
  --white: #ffffff;
  --grey-100: #f5f5f6;
  --grey-200: #eaebed;
  --grey-300: #d5d6dc;
  --grey-500: #acadb9;
  --grey-600: #7b7c88;
  --black: #232134;
  --blue-600: #3b7cd3;
  --blue-500: #5e96fc;
  --blue-400: #92c1ff;
  --blue-300: #b7d6ff;
  --blue-200: #c9e0ff;
  --blue-100: #deecff;
  --radius-20: 20px;
  --radius-8: 8px;
}

header {
  width: 100%;
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
}

header > div {
  width: 30%;
  height: 36px;
  display: flex;
  align-items: center;
}

header > div > img {
  width: 30px;
  height: 30px;
  margin-left: 11.25vw;
}

header > div > h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  margin-left: 12px;
}

header > nav {
  width: 275px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > nav > div {
  width: 275px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > nav > div > a {
  font-weight: 400;
  font-size: 16px;
}

.active_link {
  font-weight: 500;
  color: var(--blue-500);
}

@media (max-width: 900px) {
  header {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  header > div {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  header > div:last-child {
    height: 0;
  }

  header > div > img {
    margin-left: 0;
  }

  header > nav {
    margin-top: 24px;
  }
}
