@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Open+Sans:wght@600&family=Poppins:wght@600&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f8;
}

:root {
  --white: #ffffff;
  --grey-100: #f5f5f6;
  --grey-200: #eaebed;
  --grey-300: #d5d6dc;
  --grey-500: #acadb9;
  --grey-600: #7b7c88;
  --black: #232134;
  --blue-600: #3b7cd3;
  --blue-500: #5e96fc;
  --blue-400: #92c1ff;
  --blue-300: #b7d6ff;
  --blue-200: #c9e0ff;
  --blue-100: #deecff;
  --radius-20: 20px;
  --radius-8: 8px;
}

.pagination {
  width: 192px;
  height: 32px;
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.pagination > div {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--grey-300);
  border-radius: var(--radius-8);
  background-color: var(--white);
}

.pagination > span {
  max-width: 112px;
  height: 32px;
  overflow: hidden;
}

.pagination > span > div {
  display: flex;
  width: 100%;
  height: 32px;
  position: relative;
  transition: all ease 0.4s;
}

.pagination > span > div > div {
  display: flex;
}

.pagination > span > div > div > button {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  border: 1px solid var(--grey-300);
  border-radius: var(--radius-8);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  background-color: var(--white);
}

.pagination > span > div > div > .active_page {
  background-color: var(--blue-500);
  color: var(--white);
}
